html
  include ../pug_dev/head.pug
  
  body
    .containerMain.m-0.p-0
      //include ../pug_dev/partials/colorTester.pug
      include ../pug_dev/header.pug
      include ../pug_dev/partials/sidebar.pug
      .content
        include ../pug_dev/partials/menu.pug
        include ../pug_dev/body.pug
    include ../pug_dev/footer.pug