@import 'functions'
@import './sass_partials/colortester.sass'
  
//Utility
.hide
  display: none

body
  background: $Primary0

  // Menu
  .sidebar
    display: none

  // Main
  .containerMain
    @import './sass_partials/header.sass'

    .content
      z-index: 1
      background: $Primary0
      display: grid
      grid-template-columns: repeat(5, 1fr)
      grid-template-rows: auto auto
      grid-template-areas: "main main main main main" "footer footer footer footer footer"
      
      @import './sass_partials/menu.sass'
      @import './sass_partials/content.sass'
      @import './sass_partials/footer.sass'