.header
  .headerImg(style="background: url('urban.jpg');")
  .heading
    h1 Urban Attributes
    h1.shadow Urban Attributes
    .subHeading
      h2 Sustainable helvetica crucifix coloring book
      h2.shadow Sustainable helvetica crucifix coloring book