.sidebar
  ul
    li
      a(href="#") Home
    li
      a(href="#") About
    li
      a(href="#") Portfolio
    li
      a(href="#") Contact
    li
      a(href="#") Gallery
    li
      a(href="#") Some random stuff