.sidebar
  ul
    li
      a(href="#") Home
    li
      a(href="#") About
    li
      a(href="#") Portfolio
    li
      a(href="#") Contact
    li
      a(href="#") Gallery
    li
      a(href="#") Some random stuff
      
.containerMain.m-0.p-0
  include ./partials/header.jade
  .content
    include ./partials/menu.jade
    .contentArea
      .tab-content#v-pills-tabContent
        .tab-pane.fade.show.active#v-pills-home(role="tabpanel" aria-labelledby="v-pills-home-tab")
          p.
            You probably haven't heard of them paleo af fanny pack hella blog. Four dollar toast blue bottle meditation 8-bit adaptogen, bushwick photo booth tacos chicharrones. Fixie snackwave 90's austin salvia blue bottle. Intelligentsia fashion axe messenger bag church-key unicorn post-ironic deep v subway tile. Banh mi yr marfa, XOXO sustainable waistcoat fingerstache food truck echo park. XOXO pabst ramps, vinyl sartorial four loko 3 wolf moon taxidermy craft beer hot chicken fanny pack. Mustache chicharrones palo santo disrupt vaporware meditation trust fund shaman.
        .tab-pane.fade#v-pills-profile(role="tabpanel" aria-labelledby="v-pills-profile-tab")
          p.
            Yr salvia vice enamel pin trust fund knausgaard drinking vinegar mixtape. Hashtag farm-to-table forage, venmo gastropub narwhal retro pinterest before they sold out cold-pressed cred put a bird on it leggings drinking vinegar. Migas fanny pack irony kickstarter photo booth waistcoat try-hard. Pickled direct trade prism, jianbing fam hoodie irony bushwick. Kinfolk activated charcoal try-hard twee poke jean shorts tumeric enamel pin cornhole.
        .tab-pane.fade#v-pills-messages(role="tabpanel" aria-labelledby="v-pills-messages-tab")
          p.
            Pickled portland salvia XOXO activated charcoal selvage try-hard kickstarter PBR&B humblebrag yuccie sustainable venmo. Selvage tbh kale chips woke kickstarter, quinoa tattooed. Kale chips seitan kickstarter roof party. Narwhal cronut kombucha la croix health goth, roof party offal cred pitchfork tofu disrupt twee.
        .tab-pane.fade#v-pills-settings(role="tabpanel" aria-labelledby="v-pills-settings-tab")
          p.
            Hexagon yr sustainable fanny pack gastropub pok pok bushwick tote bag actually etsy portland taxidermy post-ironic freegan mlkshk. Artisan freegan biodiesel glossier. Typewriter portland XOXO hell of swag pinterest succulents vegan fingerstache waistcoat. IPhone pork belly live-edge kombucha. Tote bag live-edge poke venmo.
    
