button.colorTester(onClick="toggleVisible(this)") X
.colorTesting.container-fluid.m-0.p-0
  .shade.row.m-0.p-0
    .col.Color#colr1
    .col.Color#colr2
    .col.Color#colr3
    .col.Color#colr4
    .col.Color#colr5
    .col.Color#colr6
    .col.Color#colr7
    .col.Color#colr8
  .primary.row.m-0.p-0
    .col.Color#colr1
    .col.Color#colr2
    .col.Color#colr3
    .col.Color#colr4
    .col.Color#colr5
    .col.Color#colr6
    .col.Color#colr7
    .col.Color#colr8
  .accentTe.row.m-0.p-0
    .col.Color#colr1
    .col.Color#colr2
    .col.Color#colr3
    .col.Color#colr4
    .col.Color#colr5
    .col.Color#colr6
    .col.Color#colr7
    .col.Color#colr8
  .accentGe.row.m-0.p-0
    .col.Color#colr1
    .col.Color#colr2
    .col.Color#colr3
    .col.Color#colr4
    .col.Color#colr5
    .col.Color#colr6
    .col.Color#colr7
    .col.Color#colr8
  .accentYe.row.m-0.p-0
    .col.Color#colr1
    .col.Color#colr2
    .col.Color#colr3
    .col.Color#colr4
    .col.Color#colr5
    .col.Color#colr6
    .col.Color#colr7
    .col.Color#colr8
  .accentRe.row.m-0.p-0
    .col.Color#colr1
    .col.Color#colr2
    .col.Color#colr3
    .col.Color#colr4
    .col.Color#colr5
    .col.Color#colr6
    .col.Color#colr7
    .col.Color#colr8