.contentMenu
  .nav.flex-column.nav-pills#v-pills-tab(role="tablist" aria-orientation="vertical")
    a.nav-link.active#v-pills-home-tab(data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true") Home
    a.nav-link#v-pills-profile-tab(data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-home" aria-selected="true") Profile
    a.nav-link#v-pills-messages-tab(data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-home" aria-selected="true") Messages
    a.nav-link#v-pills-settings-tab(data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-home" aria-selected="true") Settings
